.dark {
  --md-sys-color-primary: rgb(150 213 166);
  --md-sys-color-surface-tint: rgb(150 213 166);
  --md-sys-color-on-primary: rgb(0 57 28);
  --md-sys-color-primary-container: rgb(18 81 46);
  --md-sys-color-on-primary-container: rgb(177 241 193);
  --md-sys-color-secondary: rgb(255 176 206);
  --md-sys-color-on-secondary: rgb(83 29 54);
  --md-sys-color-secondary-container: rgb(110 51 77);
  --md-sys-color-on-secondary-container: rgb(255 217 229);
  --md-sys-color-tertiary: rgb(255 179 181);
  --md-sys-color-on-tertiary: rgb(86 29 34);
  --md-sys-color-tertiary-container: rgb(115 51 55);
  --md-sys-color-on-tertiary-container: rgb(255 218 218);
  --md-sys-color-error: rgb(255 180 171);
  --md-sys-color-on-error: rgb(105 0 5);
  --md-sys-color-error-container: rgb(147 0 10);
  --md-sys-color-on-error-container: rgb(255 218 214);
  --md-sys-color-background: rgb(16 21 16);
  --md-sys-color-on-background: rgb(223 228 220);
  --md-sys-color-surface: rgb(16 21 16);
  --md-sys-color-on-surface: rgb(223 228 220);
  --md-sys-color-surface-variant: rgb(65 71 77);
  --md-sys-color-on-surface-variant: rgb(193 199 206);
  --md-sys-color-outline: rgb(139 145 152);
  --md-sys-color-outline-variant: rgb(65 71 77);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(223 228 220);
  --md-sys-color-inverse-on-surface: rgb(44 50 45);
  --md-sys-color-inverse-primary: rgb(46 106 68);
  --md-sys-color-primary-fixed: rgb(177 241 193);
  --md-sys-color-on-primary-fixed: rgb(0 33 14);
  --md-sys-color-primary-fixed-dim: rgb(150 213 166);
  --md-sys-color-on-primary-fixed-variant: rgb(18 81 46);
  --md-sys-color-secondary-fixed: rgb(255 217 229);
  --md-sys-color-on-secondary-fixed: rgb(57 7 33);
  --md-sys-color-secondary-fixed-dim: rgb(255 176 206);
  --md-sys-color-on-secondary-fixed-variant: rgb(110 51 77);
  --md-sys-color-tertiary-fixed: rgb(255 218 218);
  --md-sys-color-on-tertiary-fixed: rgb(59 8 15);
  --md-sys-color-tertiary-fixed-dim: rgb(255 179 181);
  --md-sys-color-on-tertiary-fixed-variant: rgb(115 51 55);
  --md-sys-color-surface-dim: rgb(16 21 16);
  --md-sys-color-surface-bright: rgb(53 58 53);
  --md-sys-color-surface-container-lowest: rgb(10 15 11);
  --md-sys-color-surface-container-low: rgb(24 29 24);
  --md-sys-color-surface-container: rgb(28 33 28);
  --md-sys-color-surface-container-high: rgb(38 43 38);
  --md-sys-color-surface-container-highest: rgb(49 54 49);
  --custom-button-previous: rgb(65 71 77);
  --custom-button-previous-text: rgb(223 228 220);
  --custom-button-previous-hover: rgb(85 91 97);

  --custom-button-similar: rgb(46 106 68);
  --custom-button-similar-text: rgb(177 241 193);
  --custom-button-similar-hover: rgb(66 126 88);

  --custom-button-not-similar: rgb(147 0 10);
  --custom-button-not-similar-text: rgb(255 218 214);
  --custom-button-not-similar-hover: rgb(167 20 30);

  --custom-button-next: rgb(65 71 77);
  --custom-button-next-text: rgb(223 228 220);
  --custom-button-next-hover: rgb(85 91 97);

  --custom-button-disabled: rgb(28 33 28);
  --custom-button-disabled-text: rgb(143 148 140);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dark {
  background-color: var(--md-sys-color-background);
  color: var(--md-sys-color-on-background);
}
